@{
    ViewData["Title"] = "Principal";
    var userType = Context.Session.GetString("TypeRol");
}

<h2>Hola, @userType</h2>
<p>Estamos encantados de tenerte aquí. Explora nuestras funcionalidades y disfruta de la experiencia.</p>
