@{
    ViewData["Title"] = "Principal";
    var userType = Context.Session.GetString("TypeRol");
}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 mb-4">Hola, @userType</h1>
            <p class="lead text-muted">
                Bienvenido al Sistema de Préstamo de Equipos. Estamos encantados de tenerte aquí.
                Este sistema está diseñado para optimizar la gestión de recursos y facilitar
                tu experiencia académica o administrativa.
            </p>
            <p class="text-muted">
                Explora nuestras funcionalidades, accede a los recursos que necesitas
                y aprovecha al máximo las herramientas a tu disposición.
            </p>
        </div>
    </div>
</div>